<!DOCTYPE html>
{% autoescape true %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ app_name }} - convert the web to projects</title>

    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" type="text/css" href="app/board.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>


</head>
<body unresolved>


<header>

    <img src="/app/logo_placeholder.png">

    <h2>{{board_id}}</h2>


    </div>


</header>


<div id="instructions">

    <p>Drag this link: <a
            href="javascript:void(window.open('http://vookmark.appspot.com/addtask?board={{board_id}}&url='+location.href, '_blank'))">+{{board_id}}</a>
        to your bookmark bar<br>click it when visiting an interesting page to create a task.</p>

    <p>Or add it here:</p>

    <form action="../addtask">
        link:
        <input type="text" name="url">
        todo:
        <input type="text" name="desc">
        <input type="text" name="board" value="{{board_id}}" hidden="true">
        <input type="submit" value="Add">
    </form>


</div>


<div id="wrapper">


    {% for task in tasks %}


    <a href=/task?id={{task.key.id()}}>
        <div class="floated_tasks">
            {% if task.image %}
            <img src={{task.image}} width='300'>
            {% endif %}

            {% if task.title %}
            <h3> {{task.title}} </h3>
            {% endif %}

            {% if task.description %}
            <p> {{task.description}} </p>
            {% endif %}
        </div>
    </a>

    {% endfor %}


</div>


</body>
</html>
{% endautoescape %}