<!DOCTYPE html>
{% autoescape true %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{board_id}}</title>

    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" type="text/css" href="app/board.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>


</head>
<body unresolved>


<header>


    <a href=../><img src="/app/logo.png" onmouseover="this.src='/app/logo_active.png'"
                     onmouseout="this.src='/app/logo.png'"/></a>


</header>


<section style="height: 60px; background-color: #fff; padding-top: 30px;">


    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">

                <li>
                    <a href="#">{{board_id}} <span class="arrow">&#9660;</span></a>

                    <ul class="sub-menu">
                        {% if recent_boards %}
                        {% for board in recent_boards %}

                        <li><a href="/board?id={{board}}">{{board}}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>

            </ul>
        </nav>
    </div>


</section>


<div id="container3">

    <div id="container2">


        <div id="container1">

            <div id="col1">


                <div id="addnew">

                    <h2>Add a task</h2>

                    <p>Click on the chrome extension icon when visiting an interesting page to create a task.</p>

                    <p>Or add it manually here:</p>

                    <form action="../addtask">
                        link:
                        <input type="text" name="url">
                        todo:<input type="text" name="desc">
                        <input type="text" name="board" value="{{board_id}}" hidden="true">
                        <input type="submit" value="Add">
                    </form>


                </div>


            </div>


            <div id="col2">
                <h2>To Do</h2>
                {% for task in tasks %}

                <a href=# id="show_dialog_{{task.key.id()}}">
                    <div class="floated_tasks">
                        {% if task.image %}
                        <img src={{task.image}} width='300' height="auto"/>
                        {% endif %}


                        {% if task.title %}
                        <p> {{task.title}} </p>
                        {% endif %}

                        {% if task.description %}
                        <h3> {{task.description}} </h3>
                        {% endif %}


                    </div>
                </a>

                {% endfor %}
            </div>


            <div id="col3">

                <h2>Done tasks</h2>
                {% for task in done_tasks %}

                <a href=# id="show_dialog_{{task.key.id()}}">
                    <div class="done_tasks">
                        {% if task.image %}
                        <img src={{task.image}} width='300' height="auto"/>
                        {% endif %}

                        {% if task.title %}
                        <h3> {{task.title}} </h3>
                        {% endif %}

                        {% if task.description %}
                        <p> {{task.description}} </p>
                        {% endif %}
                    </div>
                </a>

                {% endfor %}


            </div>
        </div>
    </div>


</div>


<!--tasks windows-->
{% for task in all_tasks %}

<dialog id="task_dialog_{{task.key.id()}}">
    {% include 'task.html' %}
</dialog>

{% endfor %}

</body>

<script>
    {% for task in all_tasks %}
        document.getElementById("show_dialog_{{task.key.id()}}").onclick = function () {
            document.getElementById('task_dialog_{{task.key.id()}}').showModal();

            document.getElementById('task_dialog_{{task.key.id()}}').addEventListener('click', function (event) {
                var rect = document.getElementById('task_dialog_{{task.key.id()}}').getBoundingClientRect();
                var isInDialog = (rect.top <= event.clientY && event.clientY <= rect.top + rect.height
                        && rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
                if (!isInDialog) {
                    document.getElementById('task_dialog_{{task.key.id()}}').close();
                }
            });
        }
        {% endfor %}
</script>

</html>
{% endautoescape %}