<!DOCTYPE html>
{% autoescape true %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ app_name }} - convert the web to projects</title>

    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="stylesheet" type="text/css" href="app/task.css">

</head>
<body unresolved>
    
    
<section>



    
    
            
        
        <ul style="list-style-type: none; display: inline; padding: 20px;"> 


            <li><a href=/edittask?id={{task.key.id()}}&move=delete>Delete</a>


            <li><a href=/edittask?id={{task.key.id()}}&move=done>Done</a></li>
            
        </ul>

    
</section>    

    <br>


    {% if task.image %}
    <a href={{task.url}}><img src={{task.image}} width='560' heigh="auto"></a>
    {% endif %}


    <br>

    <p><a href={{task.url}}>{{task.title}}</a></p>

    <div layout horizontal center-center fit>
        <form action="../edittask">
            Description:<br>

            {% if task.description %}

            <input type="text" name="description" value="{{task.description}}">

            {% else %}

            <h3><input type="text" name="description"></h3>

            {% endif %}

            <input type="text" hidden name="id" value={{task.key.id()}}>
            <input type="submit" value="Save">

        </form>


        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'vookmark'; // required: replace example with your forum shortname
            var disqus_identifier = {{task.key.id()}};

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
            powered by Disqus.</a></noscript>


    </div>

</div>

</body>
</html>
{% endautoescape %}