h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 900;  }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; }


body {
	background: url(http://subtlepatterns.com/patterns/halftone.png) ;
}

}
h1 {
    color: #263238;
    margin-left: 20px;
}

header {
   text-align: center;
   background: #ffffff;
   padding-top: 10px;
   padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; }
}

	
img {
    float: center;
   
}


.floated_tasks
{
    float: left;
}

#wrapper {
    width: 800px;
    margin: 0 auto;

}
 
#instructions {
	margin-top: 140px;
	}









