h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 900;  }

h3 { font-family: ‘Lato’, Arial, san-serif; font-weight: 300; font-size: 16px; max-width: 280px;  }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; font-size: 14px; }


body {
	background: #fafafa ;
}





header {
   text-align: center;
   background: #A41936;
   padding-top: 10px;
   padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #e0e0e0;
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; 
}





.floated_tasks
{

    float: left;
    margin: 5px;
    border: 4px solid #ffffff;
    text-align: left;
    background: #ffffff;
    box-shadow: 2px 5px 1px #bdbdbd;
}


.done_tasks {
   float: left;
    margin: 5px;
    border: 4px solid #000000;
    text-align: left;
    background: #000;
    box-shadow: 2px 5px 1px #bdbdbd;

}







body, html {
    height:  100%;
    margin:  0px auto;
    padding: 6px;
}




#container3 {
    float:left;
    width:100%;
margin-top: 40px;
    background:#eeeeee;
     overflow:hidden;
    position:relative;
}
#container2 {
    float:left;
    width:100%;
    background:#eeeeee;
     position:relative;
    right:30%;
}

#container1 {
    float:left;
    width:100%;
    background:#fafafa;
    position:relative;
    right:40%;
}
#col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#col2 {
    float:left;
   width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#col3 {
  width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}









