h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 400;  }

h3 { font-family: ‘Lato’, Arial, san-serif; font-weight: 700; font-size: 16px; max-width: 280px;  }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; font-size: 14px; }


body {
	background:#f5f5f5;
}





header {
   text-align: center;
   background: #A41936;
   padding-top: 10px;
   padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #e0e0e0;
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; 
}






.floated_tasks
{

    float: left;
    margin: 5px;
    border: 4px solid #ffffff;
    text-align: left;
    background: #ffffff;
    box-shadow: 2px 5px 1px #bdbdbd;
    width:300px; /* or whatever width you want. */
   max-width:300px;


}


.done_tasks {
   float: left;
    margin: 5px;
    border: 4px solid #000000;
    text-align: left;
    background: #000;
    box-shadow: 2px 5px 1px #bdbdbd;
        width:300px; /* or whatever width you want. */
   max-width:300px;

}


#addnew {
    background: #eeeeee;
    padding: 10px;
    margin-top: 10px;
}






body, html {
    height:  100%;
    margin:  0px auto;
}




#container3 {
    float:left;
    width:100%;

    background:#f5f5f5;
     overflow:hidden;
    position:relative;
}
#container2 {
    float:left;
    width:100%;
    background:#f5f5f5;
     position:relative;
    right:30%;
}

#container1 {
    float:left;
    width:100%;
    background:#f5f5f5;
    position:relative;
    right:40%;
}
#col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#col2 {
    float:left;
   width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#col3 {
  width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}



input[type=text] {

 border:0; 
padding:4px; 
font-size:1.3em; 
font-family:lato, sans-serif; 
color:#aaa; 
border:solid 1px #ccc; 
margin:0 0 20px; 
width:200px;
    -webkit-border-radius: 3px; 
-moz-border-radius: 3px; 
border-radius: 3px;
}

input[type=submit] {

border:solid 1px #ccc; 
padding:12px 30px; 
margin:0 0 20px; 
font-family:Lato, sans-serif; 
font-size:1.0em;
text-transform:uppercase;
font-weight:bold;
color:#333;
cursor:pointer;
}


body {
    background:#ffffff url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    background:#ffffff;
}
 
.menu {
    width:1000px;
   
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'lato';
    text-decoration: none;

}
 
.menu a {
    transition:all linear 0.15s;
    color:#212121;
        text-decoration:none;
    
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#ffffff;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#fafafa;
}










