h1 { font-family: ‘Lora’, Georgia, serif; font-weight: 400; color: white;  }

h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 700; color: white;  }

h3 { font-family: ‘Lato’, Arial, san-serif; font-weight: 400;  color: white;   }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; }



/* unvisited link */
a:link {
    color: #fafafa;
    font-family: 'Lato';
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #fafafa;
    font-family: 'Lato';
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #f05757;
    font-family: 'Lato';
    text-decoration: none;
}

/* selected link */
a:active {
    color: #f05757;
    font-family: 'Lato';
    text-decoration: none;
}









body {
	background: #eceff1 ;
}

h1 {
    color: #263238;
    margin-left: 20px;
}

header {
   text-align: center;
   background: #2e2e2e;
   padding-top: 10px;
   padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #cfd8dc;
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; 
}

#wrapper {
        width: 600px;
    float: right;
    
}

	
img {
    float: center;
   
}


#create {
    float: right
    margin-top: 100px;
}



#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	   background: #2e2e2e; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	background:#353535; /* column 1 background colour */
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}
















