h1 { font-family: ‘Lora’, Georgia, serif; font-weight: 400; color: white;  }

h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 700; color: white;  }

h3 { font-family: ‘Lato’, Arial, san-serif; font-weight: 400;  color: white;   }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; }




body {
	background: #f05757 ;
}





header {
   text-align: center;
   background: #2e2e2e;
    padding-bottom: 130px;
    padding-top: 130px;
  box-shadow: 1px 1px 1px #000000;
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; 
}





.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

#walkthrough {
   margin-top: 620px; 
    
}


#inline {
    display: inline;
}




#wrapper_two {
    float: center;
    text-align: center;
    margin: 0 auto;
  
    width: 800px; 

}



#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
background: #2e2e2e; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
background: #2e2e2e; /* column 1 background colour */
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}





