h2 { font-family: ‘Lato’, Arial, san-serif; font-weight: 900;  }

h3 { font-family: ‘Lato’, Arial, san-serif; font-weight: 900;  }

p { font-family: ‘Lato’, Arial, san-serif; font-weight: 400; }




body {
	background: #eceff1 ;
}

h1 {
    color: #263238;
    margin-left: 20px;
}

header {
   text-align: center;
   background: #A41936;
   padding-top: 10px;
   padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #cfd8dc;
   width:100%; 
   position:absolute; 
   top:0px; 
   left:0px; 
}

	
img {
    float: center;
   
}


#create {
    float: right
    margin-top: 100px;
}














